
<h2>Chat</h2><br/><br/>
<div class="scrollbar-chrome">
	<div id="messages"  style="width: 420px;"><%#end%><%=messages=%></div>

</div>

<p><p>
<div class="send_form">
	<input id="chat_input" type="text" name="message" value="" maxlength="1000" style="width: 370px;">
	<input id="submit_form" type="button" value="odeslat">
</div>

<div id="online_users">
	<table>
		<tr><td>Uživatel1</td></tr>
		<tr><td>Uživatel2</td></tr>
		<tr><td>Uživatel3</td></tr>
		<tr><td>Uživatel4</td></tr>
	</table>
</div>
<script>setInterval("update()", 1000);</script>
