<%#end%>
<%=flashmessage=%>
<div id="welcome">
	<br/><br/>
<h1>Vítejte na Brandbooku!</h1>
<p>Jedinečné sociální síti, která je určena pro lidi, kteří chtějí budovat svou osobní značku,
zlepšovat se ve svém oboru a sdílet mezi sebou své úspěchy nebo i neúspěchy, při budování své osobní značky.
<br/>Jsete tu pravděpodobně proto, že jste se stejně jako 500 dalších lidí přihlásili do originálního programu "Jsi značka" od Tomáše Lukavce,
a jste rozhodnuti, z tohoto programu čerpat úplné maximum.
<br/>Doufám, že se Vám zde bude líbit, a přeju Vám, ať se tu seznámíte s co nejvíce zajímavými lidmi a sdíleli navzájem své know-how.
</p>
<br/><br/>

<h4>Jednotlivé sekce:</h4>
<div id="sections">
	<p>
V sekci <b>Veřejná zeď</b> můžete vidět zprávy a komentáře, které se nějakým způsobem týkají programu anebo budování osobní značky, ostatních uživatelů.
Můžete zde také i vy sdílet s ostatními, své zkušenosti s budováním značky, anebo komentovat příspěvky ostatních.
<p>
V sekci <b>Moje zeď</b> můžete vidět své vlastní zprávy a komentáře těchto zpráv od ostatních členů, takže je nemusíte složitě hledat na Veřejné zdi.
<p>
V sekci <b>Chat</b> můžete komunikovat s ostatními členy v reálném čase a rychleji se tak s nima seznámit.
<p>
V sekci <b>Profil</b> můžete vyplnit údaje o sobě, aby ostatní členové mohli vidět kdo jste, co děláte a jaký máte osobní příběh.
<p>
V sekci <b>Členové</b> je seznam všech doposud zaregistrovaných uživatelů a po kliknutí na jméno, si můžete prohlédnout jejich osobní profil.
</div>
<p><p><p>

<h4>Funkce které ještě přibudou:</h4>
<ol>
<li> Do chatu přidat seznam uživatelů, ktří jsou právě online na chatu.</li>
<li>Do chatu přidat nastavení barev, písma a zvuků příhozích zpráv.</li>
<li>Do profilu přidat profilovou fotku a možná ještě nějaké další údaje o uživateli.</li>
</ol>

<p><p>
<h4>Funkce které možná přibudou:</h4>
<ol>
<li>Přidat možnost filtrování zpráv na Veřejné zdi, pro lepší přehlednost a rychlé vyhledání některé zprávy.</li>
<li>Vytvořit pracovní sešity jako elektronický formulář, který si bude uživatel moci po vyplnění uložit na serveru,
	anebo stáhnout v textové podobě pro snadný zápis nebo levnější tisk.</li>
<li>Možnost přidávat obrázky a videa.</li>
<li>Soukromé zprávy</li>
</ol>

</div>
